#features-container {
  visibility: hidden;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  border-radius: 7%/27%;
}
.feature-button {
  outline: none;
  border: none;
  background-color: transparent;
  margin: 0px 4px;
}
.icon {
  height: 20px;
  width: 20px;
}